.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blockMenu {  
  margin: 60px 0;
  font-family: 'Archivo Narrow', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
}

.group {
  text-decoration: none;
  outline: none;
  list-style-type: none;
  padding: 0;
  color: gray;
  font-size: 18px;
}

.group li:hover{
  cursor: pointer;
  color: black;
}

.group li:first-child {
  font-weight: bold;
  font-size: 20px;
}

.site-logo a{
  text-decoration: none !important;
  outline: none !important;
  font-family: 'Gayathri', sans-serif;
  font-size: 22px;
  font-weight: bold;  
  color: black;
  cursor: pointer;
}

.site-logo a:hover, nav div p:hover {
  color: grey;
}

nav div p{
  font-size: 18px;
  cursor: pointer;
}

.img {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}